body {
margin: 0;
}

.contenu {
max-width: 1200px;
margin : 0 auto; 
}

.entete {
    background-color: #9BCFF5;
    height: 150px;
}

.titre-1 {
    width: 100%;
    margin: 0 0 0 140px;
    padding-top: 10px;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
}

.titre-2 {
    width: 150%;
    margin : 0 0 0 145px;
    font-size: 36px;
    color: indigo;
}

#titre-3 {
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
}

#titre-4 {
    margin:0 0 20 0;
    font-size: 18px;
}

nav {
    background-color: brown;
    height: 60px;
}

nav li a {
    text-decoration: none;
    color: white;
}
.menu:hover {
    border-bottom: 2px solid;
    color: maroon;
}

nav li{
    padding: 20px 0 10px 10px;
    display: inline-block;
    list-style-type: none;
}

nav ul {
    margin: 0;
}

.petit-text {
    text-align: right;
    color: black;
}

#image-centre {
    width: 1000px;
    height: 160px;
    padding: 20px;
    margin-left: 30px;
}

#section-gauche {
    width: 700px;
    text-align: justify;
    margin-left: 50px;
    padding: 40px;
    background-color: darkgray;
   float: left;
}

.Categories {
    font-size: 24px;
    margin: 0 0 20px 70px ;
}

#section-droit {
    float: left;
}

aside {
    width: 200px;
    height: 400px;
    background-color: darksalmon;
    padding: 10px 0 30px 0;
    margin-left: 20px;
}

aside ul {
  padding-left: 10px;
}

aside ul li {
    list-style-type: none;
    width: 150px;
    color: white;
}

h3 {
    margin: 0;
    text-align: center;
}

img {
    width: 200px;
}

#center-section {
    width: 500px;
    margin-top: 50px;
    text-align: justify;
    background-color: dimgray;
    margin-bottom: 30px;
}

.column {
float: left;
padding: 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: left;
    padding: 20px;
    height: 80px;
    background-color: #9BCFF5; 
    text-align: center; 
}

.description-pikatchu {
    background-color: darkgray;
    float: left;
    width: 70%;
    padding: 20px;
    text-align: justify;
    margin: 30px;
}

.img-pikatchu-3 {
    float: left;
    padding: 10px;
    margin-top: 50px;
}

h4 {
    display: inline-block;
    font-size: 36px;
    margin: 10px 10px 0 10px;
}

span {
    padding: 20px;
}

.poche-eclaire {
    font-weight: bolder;
    margin-top: 0;
    margin-left: 10px;
}

h5 {
    font-size: 20px;
    padding: 0;
    margin: 15px;
}

div ul li {
    list-style-type: none;

}

.agauche {
    text-align: left;
}
